.amenities {
    margin-top: 40px;
}

.amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.amenities ul {
    list-style: none;
}

.amenities ul li::before {
    content: "\2022";
    color: #FF5A5F;
    font-size: 12px;
    margin-right: 5px;
}

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.reviews ul {
    list-style: none;
}

.reviews ul li {
    margin-bottom: 20px; /* Spacing between reviews */
}

.reviews ul li h3 {
    font-size: 14px;
}

.reviews ul li p {
    font-size: 12px;
}
