.places{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.places h1{
    font-size: 30px;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    width: 390px;
    margin: 20px;
    padding: 30px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
    position: relative;
    
}
article h2{
    font-size: 30px;
    margin-top: -1px;
    padding-right:40px;
    padding-bottom:0px;
}
